section.contact
  .container 
   .contact-container
    .contact-header
      h2.contact-header__title get in touch
      p.contact-header__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus iusto at harum ratione rem assumenda adipisci cupiditate earum beatae iure est atque maiores, ex mollitia nam? Accusamus sed debitis deserunt?
    .contact-footer 
      form.contact-form(action="#", method="post")
        .contact-form__input-container
          input.contact-form__input(type="text" placeholder="Name")
          input.contact-form__input(type="email", name="email" placeholder="Your Mail")
        textarea.contact-form__textarea(name="", cols="30", rows="10" placeholder="Type your message")
        button.contact-form__btn(type="submit") send message
      .contact-info
        .contact-info-wrap
          h4.contact-info__title contact info
          span.contact-info__line Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh
          span.contact-info__line redwan@deviserweb.com
          span.contact-info__line (+88) 017 617 46373