section.team 
  .container 
    .team-container 
      .team-wrap 
        h2.team__title Meet our team
        p.team__text Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.
      .team-list
        .team-worker-pic
        .team-worker-info 
          .team-worker-info__title 
          .team-worker-info__text 
          .team-worker-info__social-links
        .team-workers
          .team-workers__box
          .team-workers__box
          .team-workers__box
          .team-workers__box