section.homepage 
  .container 
    .homepage-container
      nav.menu
        ul.menu__list 
          each name in ['home', 'portfolio', 'about us', 'contact']
            li.menu__item
              a(href=`${name}.html`)=name
      .homepage-wrap 
        .homepage-info 
          h1.homepage-info__title 
          p.homepage-info__text 
          button(type="submit") Contact Us
        .homepage-video
          video#homepage-video(width="550" height="355" poster="../assets/images/dest/video-preview.jpg" controls)
            source(src="../assets/video/ALPS & DOLOMITES (Drone + Timelapse) Heavenly Nature Relaxation™ 5 Minute Short Film in 4K UHD.mp4" type="video/mp4")

