.services 
  margin-top: 120px

.services-container 
  display: flex
  flex-direction: row
  flex-wrap: wrap

.services-info
  width: 49%
  &__title
    font-family: "OpenSans", sans-serif
    font-size: 42px
    font-weight: 600
    text-transform: uppercase
    color: #585858
  &__text
    font-family: "OpenSans", sans-serif
    font-size: 16px
    color: #585858
    margin-top: 20px
    line-height: 1.5em

.service-btn
  background-color: #fff
  color: #ff2d2d
  border: 1px solid#ff2d2d
  border-radius: 4px
  margin-top: 40px

.services-list 
  width: 49%

.fas
  font-size: 34px
  color: #ff2d2d

.service__title
  font-family: "Times New Romance", sans-serif
  font-size: 24px
  color: #737373

