.services 
  margin-top: 120px

.services-container 
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between

.services-info
  width: 49%
  &__title
    @extend %h2-title
  &__text
    font-family: "OpenSans", sans-serif
    font-size: 16px
    color: #585858
    margin-top: 20px
    line-height: 1.5em
    padding-right: 20%

.service-btn
  background-color: #fff
  color: #ff2d2d
  border: 1px solid#ff2d2d
  border-radius: 4px
  margin-top: 40px

.services-list 
  display: grid
  grid-template-columns: 50% 50%
  column-gap: 60px
  row-gap: 60px
  width: 49%

.service-box
  grid-column: span 1
.fas
  font-size: 34px
  color: #ff2d2d

.service__title
  font-family: "Times New Romance", sans-serif
  font-size: 24px
  color: #737373
  padding-top: 25px

.service__text
  padding-top: 20px
  line-height: 1.5em

