doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/main.min.css")
    link(rel="stylesheet", href="assets/css/google-fonts.css")
    title Agnecy Landing Page
  body.page
    include ../blocks/mixins/mixins.pug
    include ../blocks/homepage/homepage.pug
    include ../blocks/services/services.pug
    include ../blocks/products/products.pug
    include ../blocks/team/team.pug
    include ../blocks/subscribe/subscribe.pug
    include ../blocks/contacts/contacts.pug
    script(src="assets/js/main.min.js")
    script(src="https://kit.fontawesome.com/36446de779.js" crossorigin="anonymous") 
