footer.footer 
  .container 
    .footer-container 
      p.footer-copyrights &copy; Copyright @Junaed 2016, All rights reserved
      .footer-social
        .icon
          a.icon__link(href="#") 
        .icon
          a.icon__link(href="#") 
        .icon
          a.icon__link(href="#") 
        .icon
          a.icon__link(href="#") 