section.subscribe
  .container
    .subscribe-container
      h3.subscribe__title Desigh tips, tricks, and freebies. Delivered weekly.
      p.subscribe__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      form.subscribe-form(action="#", method="post") 
        input.subscribe-form__input(type="email", name="email", placeholder="Email Address...")
        button.subscribe-form__btn(type="submit") subscribe
